.header {
    height: 10%;
    padding: auto;
    background-color: rgb(9, 9, 14);
    justify-content: center;
}

.logo {
    width: 2rem;
    margin-right: .8rem;
}

.title {
    color: antiquewhite;
    font-size: 1.5rem;
    font-weight: bold;
}